/* Write your CSS here */
.app-container {
  background-image: linear-gradient(to bottom, #fbc7d4, #9796f0);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: white;
  width: 90%;
  height: 70%;
  border-radius: 12px;
  max-height: 1200px;
}
.s-cont {
  display: flex;
  flex-direction: column;
  margin-left: 34px;
}
.heading {
  font-size: 24px;
  font-family: Roboto;
  color: #171f46;
}
.title {
  margin-top: 18px;
  font-size: 12px;
  font-family: Roboto;
  color: #b5b7c4;
}
.input-name {
  width: 220px;
  height: 34px;
  border: 1px solid #b5b7c4;
  font-size: 12px;
  margin-top: 12px;
  border-radius: 4px;
  padding-left: 12px;
}
.add-btn {
  margin-top: 22px;
  width: 50px;
  height: 22px;
  background-color: #8b5cf6;
  font-size: 12px;
  color: white;
  border: none;
  border-radius: 4px;
}
.line {
  width: 90%;
  border: 1px solid #b5b7c4;
  margin-left: 34px;
}
.container-second {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}
.image {
  width: 40%;
  height: 30%;
  margin-right: 82px;
}
.star-cont {
  display: flex;
  margin-left: 34px;
  margin-right: 84px;
  margin-top: 22px;
  justify-content: space-between;
}
.head {
  font-size: 18px;
}
.button {
  width: 50px;
  height: 22px;
  border-radius: 12px;
  color: #9897f0;
  background-color: white;
  border: 1px solid #9897f0;
  font-size: 12px;
}
.filter-style {
  width: 50px;
  height: 24px;
  font-size: 12px;
  border-radius: 8px;
  background-color: transparent;
  color: #9897f0;
  border: 1px solid #9897f0;
}
